<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="qrnu.pcontroller.client" android:versionCode="3"
	android:versionName="1.2">
	<uses-sdk android:minSdkVersion="7" />

	<application android:name=".PController" android:icon="@drawable/icon"
		android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

		<activity android:name=".ConnectionActivity" android:label="@string/app_name"
			android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".MainMenuActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".TouchPadActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name=".FileExplorerActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name=".PPTControlActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name=".TouchPadSettingsActivity"
			android:screenOrientation="portrait" android:label="@string/app_name">
		</activity>

		<activity android:name=".JoyStickActivity" android:label="@string/app_name"
			android:screenOrientation="landscape">
		</activity>

		<activity android:name=".ButtonSettingsActivity"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".SensorSettingsActivity"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".OptionsActivity" android:label="@string/app_name">
		</activity>


		<activity android:name=".HelpActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name=".AboutActivity" android:label="@string/app_name"
			android:screenOrientation="portrait">
		</activity>


	</application>
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" android:resizeable="true"></supports-screens>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
</manifest>